# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/node_modules/
/build/
/bundles/
/webserver/
/.idea/
/PhantomJS_1.9.8_(Windows_7_0.0.0)/
